* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070707;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Navegação */
ul {
    display: flex;      
    justify-content: space-around; 
    list-style-type: none;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* Header e Imagem de Perfil */
header {
    text-align: center;
    padding: 40px 0;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(110, 7, 194);
    margin-bottom: 20px;
}

h1 {
    color: rgb(97, 10, 236);
    font-size: 40px;
}

/* Conteúdo */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    color: rgb(110, 7, 194);
    margin-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

/* Rodapé e Ícones PNG */
footer {
    text-align: center;
    padding: 40px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os ícones */
    margin-bottom: 15px;
}

.icon-social {
    width: 35px !important;
    height: 35px !important;
    border: none !important; /* Remove a borda roxa */
    background-color: transparent !important;
    border-radius: 0 !important;
}